:root {
  --gradient-light-color: #4ad7be;
  --gradient-durk-color: #49d6da;
  --base-light-color: #fff;
  --base-durk-color: #333333;
  --primary-light-color: #f2f2f2;
  --primary-durk-color: #4f4f4f;
  --toggle-btn-durk-color: #1b1b1b;
  --toggle-durk-color: #505050;
  --bg-range-color: rgba(189, 189, 189, .57);
  --shadow-toggle-light: 2px 4px 15px rgba(6, 12, 70, 0.15);
  --shadow-toggle-durk: 2px 4px 15px rgba(230, 230, 230, 0.15);
  --shadow-range: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  --arrow-durk-color: #828282;
  --shdow-card: rgba(0, 0, 0, .5);
  --shadow-testim-card: 2px 4px 15px rgba(6, 12, 70, 0.1);
  --bg-form: #bdbdbd;
  --main-gradient: linear-gradient(to right, var(--gradient-light-color), var(--gradient-durk-color));
  --bg-first: var(--base-light-color);
  --bg-second: var(--primary-light-color);
  --fg-header: var(--base-durk-color);
  --bg-theme-toggle-btn: var(--base-light-color);
  --bg-theme-toggle: var(--primary-light-color);
  --shadow-theme-toggle-btn: var(--shadow-toggle-light);
  --fg-title: var(--base-durk-color);
  --fg-text: var(--primary-durk-color);
  --fg-fraction: var(--base-durk-color);
  --bg-thumb: var(--base-durk-color);
  --bg-arrow: var(--arrow-durk-color);
  --fg-pay-instruct: var(--primary-durk-color);
  --bg-border-avatar: var(--primary-durk-color);
  --bg-map-card: var(--base-light-color);
  --fg-map-card: var(--base-durk-color);
}

:root[theme="durk"] {
  --bg-first: var(--base-durk-color);
  --bg-second: var(--primary-durk-color);
  --fg-header: var(--base-light-color);
  --bg-theme-toggle-btn: var(--toggle-btn-durk-color);
  --bg-theme-toggle: var(--toggle-durk-color);
  --shadow-theme-toggle-btn: var(--shadow-toggle-durk);
  --fg-title: var(--base-light-color);
  --fg-text: var(--base-light-color);
  --fg-fraction: var(--base-light-color);
  --bg-thumb: var(--base-light-color);
  --bg-arrow: var(--base-light-color);
  --fg-pay-instruct: var(--primary-light-color);
  --bg-border-avatar: var(--base-light-color);
  --bg-map-card: var(--base-durk-color);
  --fg-map-card: var(--base-light-color);
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="submit"] {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Container*/
.container {
  width: 1620px;
  margin-left: 26px;
}

.small-container {
  width: 1200px;
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*UI components*/

/*Slider*/
.slider {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.slider__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*Slider arrow*/
.slider-arrow {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  width: 30px;
  height: 50px;
  transition: .5s;
}

.slider-arrow_left {
  left: -47px;
}

.slider-arrow:hover {
  transform: scale(1.2);
}

.slider-arrow_right {
  right: -47px;
  transform: rotate(180deg);
}

.slider-arrow_right:hover {
  transform: rotate(180deg) scale(1.2);
}

.slider-arrow::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 25px;
  height: 5px;
  transform: rotate(45deg);
  background-color: var(--bg-arrow);
}

.slider-arrow::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 25px;
  height: 5px;
  transform: rotate(-45deg);
  background-color: var(--bg-arrow);
}

/*Slider-item-content*/
.slider-item-content {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 23px;
}

.slider-item-content__text {
  width: 185px;
  color: var(--base-light-color);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 14px;
  transition: 2s;
}

.slider-links {
  display: flex;
}

.slider-links__item:first-child {
  margin-right: 12px;
}

/* Social links */
.social {
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_line {
  width: 125px;
  height: 20px;
  flex-direction: row;
}

.social__link {
  display: block;
  width: 20px;
  background-repeat: no-repeat;
  transition: .5s;
}

.social__link:hover {
  transform: scale(1.2);
}

.social__link_insta {
  height: 20px;
  background-image: url(assets/images/insta.svg);
}

.social__link_twitter {
  height: 17px;
  background-image: url(assets/images/twitter.svg);
}

.social__link_youtube {
  height: 14px;
  background-image: url(assets/images/youtube.svg);
}

.social__link_vk {
  height: 12px;
  background-image: url(assets/images/vk.svg);
}

/* Watch button */
.watch-btn {
  cursor: pointer;
  width: 245px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-light-color);
  background: var(--main-gradient);
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  transition: .5s;
}

.watch-btn_tansparent {
  width: 113px;
  height: 24px;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--gradient-durk-color);
}

.watch-btn_tansparent > .watch-btn__circle {
  width: 22px;
  height: 22px;
  margin-right: 2px;
  border-color: var(--gradient-durk-color);
}

.watch-btn_tansparent .watch-btn__arrow {
  width: 8px;
  height: 11px;
  background-color: var(--gradient-durk-color);
}

.watch-btn:hover {
  transform: scale(1.1);
}

.watch-btn__circle {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid var(--base-light-color);
  box-sizing: border-box;
}

.watch-btn__arrow {
  width: 10px;
  height: 13px;
  background-color: var(--base-light-color);
  clip-path: polygon(20% 10%, 100% 50%, 20% 90%, 20% 10%);
}

/*Donate link*/
.donate-link {
  width: 74px;
  height: 24px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--base-light-color);
  text-decoration: none;
  transition: .5s;
}

.donate-link:hover {
  transform: scale(1.1);
}

.donate-link__circle {
  width: 22px;
  height: 22px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--base-light-color);
  padding-top: 1px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

/*Progress*/
.progress {
  width: 245px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fraction {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--fg-fraction);
}

.fraction_bunner {
  color: var(--base-light-color);
}

.fraction__scope {
  font-size: 14px;
  color: var(--bg-range-color);
}

.range:hover {
  transform: scale(1.1);
  transition: .5s;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 3px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  width: 100%;
  height: 5px;
  background: var(--bg-range-color);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  box-shadow: var(--shadow-range);
  border: none;
  height: 10px;
  width: 30px;
  background: var(--bg-thumb);
  -webkit-appearance: none;
  margin-top: -3px;
}

.progress_bunner input[type=range]::-webkit-slider-thumb {
  background: var(--base-light-color);
}

.progress_how-it-works input[type=range]::-webkit-slider-thumb {
  width: 62px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--bg-range-color);
}

input[type=range]::-moz-range-track {
  cursor: pointer;
  width: 100%;
  height: 5px;
  box-shadow: var(--shadow-range);
  background: var(--bg-range-color);
  border: none;
}

input[type=range]::-moz-range-thumb {
  cursor: pointer;
  box-shadow: var(--shadow-range);
  border: none;
  height: 10px;
  width: 30px;
  background: var(--base-light-color);
}

/*Title*/
.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--fg-title);
  margin: 30px 0;
}

.card-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  margin: 17px 0;
  color: var(--fg-title);
}

/*Text*/
.text {
  font-size: 14px;
  line-height: 16px;
  color: var(--fg-text);
}

/* Components */

/* Header */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-first);
}

.header__container {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
  margin: 0;
}

.logo__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--fg-header);
}

.logo__zoo {
  line-height: 24px;
  font-size: 36px;
}

.logo__online {
  font-size: 18px;
  letter-spacing: 0.08em;
}

.nav-list {
  display: flex;
  padding-top: 7px;
  box-sizing: border-box;
  margin-left: -10px;
}

.nav-list__item {
  margin-right: 82px;
}

.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;

line-height: 19px;
  color: var(--fg-header);
}

.nav-list__link_active {
  font-weight: 900;
  text-decoration: underline;
}

.nav-list__link_active:hover {
  cursor: alias;
}

.nav-list__link:hover {
  font-weight: 900;
  text-decoration: underline;
}

.theme-toggle {
  cursor: pointer;
  width: 54px;
  height: 30px;
  display: flex;
  border-radius: 190px;
  background-color: var(--bg-theme-toggle);
  padding: 5px 6px;
  box-sizing: border-box;
}

.theme-toggle__btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-theme-toggle-btn);
  box-shadow: var(--shadow-theme-toggle-btn);
}

/*Watch animal*/

.main {margin-bottom: -1px;}

.watch-animal {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-second);
}

.banner {
  width: 1922px;
  height: 940px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;
}

.banner__container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 110px;
}

.banner__content {
  padding-top: 206px;
  box-sizing: border-box;
}

.banner__social {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 188px;
}

.banner__title {
  width: 793px;
  margin: 0 0 37px;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: var(--base-light-color);
}

/* Banner-slider */
.banner-slider {
  position: absolute;
  right: -189px;
  bottom: 0;
  width: 1124px;
  height: 422px;
}

.banner-slider__line {
  position: absolute;
  top: 186px;
  left: 8px;
  width: 100%;
  height: 1px;
  background-color: var(--base-light-color);
}

.banner-slider__line::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -1px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--base-light-color);
}

.banner-slider__line::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid var(--base-light-color);
}

.banner-slider__list {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-slider__item {
  margin-right: 45px;
  transition: .5s;
}

.banner-slider__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.banner-slider__item_active {
  position: relative;
  top: -14px;
}

.banner-slider__item:last-child {
  margin-right: 0;
}

.banner-slider__img {
  border-radius: 7px;
  margin-top: 12px;
}

.banner-slider__slider-item-content {
  position: absolute;
  bottom: 38px;
  left: 0;
  padding-left: 23px;
}

.banner-slider__progress {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -66px;
}

/*How it works*/
.how-it-works {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-first);
  padding: 70px 0 101px;
  box-sizing: border-box;
}

.how-it-works__container {
  width: 790px;
  margin-left: 20px;
}

.how-it-works__text {
  margin: 30px 0;
}

.how-it-works__img {
  margin-bottom: 25px;
}

.how-it-works__progress {
  margin: 0 auto 30px;
}

.how-it-works__watch-btn {
  margin: 0 auto;
}

/*Inspiring*/
.inspiring {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-second);
  padding: 100px 0 118px;
  box-sizing: border-box;
}

.inspiring__container {
  width: 1200px;
  margin-left: 23px;
}

.inspiring-list {
  display: flex;
  justify-content: space-between;
}

.inspiring-list__item {
  width: 380px;
  text-align: center;
}

.inspiring-list__title {
  margin: 12px 0;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--fg-title);
}

.inspiring-list__title_last {
  margin: 15px 0;
}

.inspiring-list__text {
  text-align: left;
}

/*Pets in zoo*/
.pets-in-zoo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0 100px;
  box-sizing: border-box;
}

.pets-in-zoo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-slider {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 5px;
  box-sizing: border-box;
  margin-bottom: 26px;
}

.main-slider__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-slider__item {
  position: relative;
  overflow: hidden;
}

.main-slider__left-arrow {
  left: -47px;
}

.main-slider__right-arrow {
  right: -47px;
}

.pets-in-zoo__progress {
  margin-bottom: 30px;
}

.main-slider__slider-item-content {
  bottom: -105px;
  padding-left: 22px;
}

.slider-card:hover .slider-item-content {
  position: absolute;
  animation: move  .5s ;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes move {
  from {bottom: -105;}
  25% {bottom: -80px;}
  45% {bottom: -60px;}
  50% {bottom: -40px;}
  75% {bottom: -20px;}
  85% {bottom: 10px}
  95% {bottom: 30;}
  to {bottom: 48px;}
}

.slider-card {
  position: relative;
  top: 0;
  left: 0;
}

.slider-card:hover .shadow{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 98%;
  background-color: var(--shdow-card);
}

/*Pay and feed*/

.pay-and-feed {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-second);
  padding: 70px 0 100px;
  box-sizing: border-box;
}

.pay-and-feed__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-and-feed__text {
  margin: 0 0 92px;
}

.pay-instruction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.pay-instruction__content {
  height: 120px;
  text-align: center;
}

.pay-instruction__circle {
  width: 245px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid var(--gradient-durk-color);
  box-sizing: border-box;
}

.pay-instruction__img {
  margin-bottom: 15px;
  margin-top: 6px;
}

.pay-instruction__img_payment {
  margin-top: 0;
}

.pay-instruction__img_panda {
  margin-bottom: 11px;
}

.pay-instruction__text {
  width: 136px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--fg-pay-instruct);
  margin-left: -5px;
}

.pay-instruction__text_panda {
  width: 134px;
}

.pay-instruction__arrow {
  position: relative;
  width: 107px;
  height: 2px;
  background-color: var(--gradient-durk-color);
}

.pay-instruction__arrow::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 10px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: var(--gradient-durk-color);
}

.pay-instruction__arrow::before {
  content: '';
  position: absolute;
  top: -4px;
  right: 0;
  width: 10px;
  height: 2px;
  transform: rotate(45deg);
  background-color: var(--gradient-durk-color);
}

/*Testimonials*/

.testimonials {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-first);
  padding: 70px 0 100px;
  box-sizing: border-box;
}

.testimonials__title {
  margin-bottom: 61px;
}

.testimonial-card {
  width: 585px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-testim-card);
  border-radius: 5px;
  padding: 47px 74px;
  box-sizing: border-box;
}

.testimonial-card__text {
  margin-top: 0;
}

.testimonial-card__avatar {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-border-avatar);
  border-radius: 50%;
}

.testimonials__slider {
  margin-bottom: 50px;
}

.testimonials__progress {
  margin-bottom: 30px;
}

/*Map*/
.map {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-second);
  padding: 70px 0 100px;
}

.map__title {
  margin-bottom: 60px;
}

.map__map-screen {
  margin-bottom: 35px;
}

/*Map-screen*/
.map-screen {
  position: relative;
  width: 1200px;
  height: 498px;
  background-image: url(./assets/images/map.svg);
}

.mark {
  position: absolute;
  width: 66px;
  height: 93px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  box-sizing: border-box;
  background-image: url(./assets/images/mark.svg);
}

.mark:hover {
  background-image: url(./assets/images/active-makr.svg);
}

.mark_eagle {
  top: 73px;
  left: 123px;
}

.mark_crocadile {
  top: 103px;
  left: 244px;
}

.mark_monkey {
  top: 188px;
  left: 572px;
}

.mark_ponda {
  top: 89px;
  right: 241px;
}

.mark_eagle:hover + .map-card_eagle {
  display: flex;
}

.mark_crocadile:hover + .map-card_crocadile {
  display: flex;
}

.mark_monkey:hover + .map-card_monkey {
  display: flex;
}

.mark_ponda:hover + .map-card_ponda {
  display: flex;
}

.mark__img {
  width: 43px;
  height: 43px;
}

.map-card {
  position: absolute;
  width: 436px;
  height: 149px;
  display: none;
  border-radius: 5px;
  box-shadow: var(--shadow-testim-card);
  background-color:var(--bg-map-card);
  color: var(--fg-map-card);
  box-sizing: border-box;
  padding: 40px 44px;
}

.map-card__img {
  margin-right: 18px;
}

.map-card__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.map-card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.map-card__content > * {
  margin-bottom: 7px;
}

.map-card_eagle {
  top: 149px;
  left: -282px;
}

.map-card_crocadile {
  top: 173px;
  left: -155px;
}

.map-card_monkey {
  top: 274px;
  left: 168px;
}

.map-card_ponda {
  top: 175px;
  right: 271px;
}

/*Footer*/
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--base-durk-color);
  padding: 100px 0 70px;
  box-sizing: border-box;
  color: var(--bg-form);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.logo_footer {
  margin-bottom: 67px;
}

.logo_footer .logo__link {
  color: var(--base-light-color);
}

.contact-form {
  width: 383px;
  display: flex;
  flex-direction: column;
}

.contact-form__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--base-light-color);
  margin: 0 0 20px;
}

.contact-form__name, .contact-form__email {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--bg-form);
  padding: 10px 0;
  margin-bottom: 7px;
  color: var(--bg-form);
}

.contact-form__email {
  margin-bottom: 20px;
}

input::-webkit-input-placeholder {
  color: var(--bg-form);
}

input::-moz-placeholder {
  color: var(--bg-form);
}

.contact-form__fieldset {
  height: 106px;
  border: 1px solid var(--bg-form);
  border-radius: 2px;
  margin-bottom: 25px;
}

.contact-form__legend {
  position: relative;
  font-size: 12px;
  line-height: 14px;
}

.contact-form__legend::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -3px;
  width: 3px;
  height: 5px;
  background-color: var(--base-durk-color);
}

.contact-form__legend::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -3px;
  width: 3px;
  height: 5px;
  background-color: var(--base-durk-color);
}

.contact-form__textarea {
  height: 85px;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  color: var(--bg-form);
}

.contact-form__checkbox {
  display: none;
}

.contact-form__label {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
}

.contact-form__label::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -20px;
  width: 11px;
  height: 11px;
  color: var(--bg-form);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-form);
  border-radius: 1px;
}

.contact-form__checkbox:checked + .contact-form__label::before {
  content: "x";
}

.contact-form__btn {
  cursor: pointer;
  width: 110px;
  height: 16px;
  padding: 0;
  text-align: left;
  border: none;
  outline: none;
  color: var(--base-light-color);
  background-image: url(./assets/images/btn-arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.btn-container {
  text-align: right;
  padding-right: 15px;
}

.nav-and-btn {
  display: flex;
  margin-bottom: 57px;
}

.footer-nav {
  width: 380px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 138px;
}

.footer-nav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--base-light-color);
}

.footer-nav__link:hover {
  text-decoration: underline;
}

.watch-btn_footer {
  width: 279px;
}

.contacts {
  color: var(--base-light-color);
}

.contacts__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 35px;
}

.address {
  width: 209px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

.address__text {
  margin-bottom: 20px;
}

.address__link {
  color: var(--base-light-color);
  text-decoration: none;
}

.address__link:hover {
  text-decoration: underline;
}

.address__span_mb, .address__link_mb {
  display: block;
  margin-bottom: 5px;
}

.copyrights {
  font-size: 12px;
  line-height: 14px;
  color: var(--bg-form);
}

.copyrights__text:first-child {
  margin-bottom: 5px;
}

.footer-hr {
  margin: 57px 0 28px;
}
